@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?taefci');
	src:url('fonts/icomoon.eot?#iefixtaefci') format('embedded-opentype'),
		url('fonts/icomoon.woff?taefci') format('woff'),
		url('fonts/icomoon.ttf?taefci') format('truetype'),
		url('fonts/icomoon.svg?taefci#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-normal_ninja:before {
	content: "\e600";
}

.icon-armor_ninja:before {
	content: "\e601";
}

.icon-casco_dino:before {
	content: "\e602";
}

.icon-sword_dino:before {
	content: "\e603";
}

.icon-armor_dino:before {
	content: "\e604";
}

.icon-casco_ninja:before {
	content: "\e605";
}

